{% extends 'main/profile.html' %}


{% block profile-content %}
    <div class="page-container">
        <h2>Профиль пользователя {{ user_profile.first_name }}{{user_profile.last_name }}</h2>
        <hr>
        <div class="row">
            <div class="col-xl-4 col-sm-12">
                <p>
                    {% if user_profile.last_name %}
                        <br>
                        {{ user_profile.last_name }}
                    {% endif %}
                    {% if user_profile.first_name %}
                        {{ user_profile.first_name }}
                    {% endif %}
                    {% if user_profile.second_name %}
                        {{ user_profile.second_name }}
                    {% endif %}
                </p>
                <div class="button">
                    {% if user.id == profile.user.id %}
                    <a href="{% url 'edit_user_profile' profile.id %}">Редактировать</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if user.id == profile.user.id %}
        <a href="{% url 'edit_user_profile' profile.id %}"><button class="button">Редактировать</button></a>
        {% endif %}
    </div>
{% endblock %}