{% extends 'main/layout.html' %}
{% load static %}
<body stylesheet="backgroung-color:#66fcf1">

{% block content %}
    <style>
        p{
            margin:15px;
        }
    </style>
    <div class=" mb-3 border-0 nth-shadow">
        <div class="card-body">
            <div class="reg">
                <div class='verh-reg'>
                    <div class="card-title nth-card-title">
                        <h4>Регистрация на сайте</h4>
                    </div>
                </div>
                <form method="post" action="{% url 'users:register' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="button_reg">
                        <button type="submit" class="btn btn-dark mt-2">Зарегистрироваться</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
</body>