{% extends 'main/layout.html' %}

{% block title %}Наш флот{% endblock %}

{% block content %}
    <div class="about">
        <h1 class="text-about">Наши курсы</h1>
        <a class="board1">Super Air Nautique GS20</a>
    </div>
    <div class="board1-img">
        <img src="static/img/board1.png" alt="Катер1" />
    </div>
    <div class="about">
        <a class="board2">Super Air Nautique G23 Paragon</a>
    </div>
    <div class="board2-img">
        <img src="static/img/board2.png" alt="Катер1" />
    </div>
{% endblock %}