{% extends 'main/layout.html' %}

{% block content %}
<div class="title">Команда мечты</div>
<div class="qaz">
    <div class="uslugs">
        <div class="qwr">
            <h3>Филипп Миндрин<h3>
            <img class="reiting-img" src="static/img/otziv1.png">
            <p>Опытный тренер и  пилот.
                2 года в индустрии вейксерфа. Сертифицированный тренер</p>
        </div>
    </div>
    <div class="uslugs">
        <div class="qwr">
            <h3>Саша Дружных<h3>
            <img class="reiting-img" src="static/img/otziv2.png">
            <p>Опытный тренер и  пилот. 
                5 лет в индустрии вейксерфа. Сертифицированный тренер и пилот</p>
        </div>
    </div>
    <div class="uslugs">
        <div class="qwr">
            <h3>Артем Головин<h3>
            <img class="reiting-img" src="static/img/otziv2.png">
            <p>Опытный тренер и  пилот. 
                7 лет в индустрии вейксерфа. Сертифицированный тренер и пилот. <br> Имеет свой авторский курс</p>
        </div>
    </div>
</div>
{% endblock %}