{% extends 'main/layout.html' %}
{% load static %}
{% block content %}
<div class="title-course">КУРС ДЛЯ ПИЛОТА</div>
<div class="course-info">
    <div class='course-main'>
        <div class='spisok'>
            <div class='spisok-info'>
                <p> 1. Техника безопасности пилотирования катера<br><br>
                    2. Эксплуатация катера<br><br>
                    3. Техническое обеспечение катера<br></p>
            </div>
            <div class='inform'>
                <p>
                    Курс для пилота содержит информацию о катерах клуба необходимую для работы. Курс раскрывает особенности каждого катера. Будет полезен к изучению перед началом работы для каждого пилота, независимо от опыта
                </p>
            </div>
        </div>
        <div class="home-but">
            <button class="btn">
                <a class="button-home", href="{% url 'forma' %}">Записаться</a>
            </button>
        </div>
    </div>
</div>
<div class="sertificate-main">
    <div class="sertificate-info">
        <div class="title-sert">СЕРТИФИКАТ ПОСЛЕ ОБУЧЕНИЯ</div>
        <p>После успешного прохождения курса по запросу выдается сертификат, подтверждающий прохождение курса. Пример сертификата, который вы получите можно увидеть ниже</p>
    </div>
    <div class="sertificate-block">
        <img src="{% static 'img/sert-pilot.png' %}">
    </div>
</div>

<div class='forma-sert'>
    <form>
        <fieldset class="info">
            <label>
                Название курса
                <select name="cources">
                    <option value="Вводный" >Вводный</option>
                    <option value="Тренерский">Тренерский</option>
                    <option value="Для пилота" selected>Для пилота</option>
                </select>
            </label>
            <label for="username">Имя пользователя</label>
                <input type="text" name="username" id="username" value= {{ user.username }}>
            <label>
                Дата первого занятия
                <input type="date" name="birthday">
            </label>
            <label>
                Время первого занятия
                <input type="time" name="game-time">
            </label>
            <label>
                Email
                <input type="email" name="email-address" placeholder="name@domain.com" value={{ user.email }}>
            </label>
            <label>
                Стоимость
                <input type="number" name="cost">
            </label>
            <label>
                Номер телефона
                <input type="tel" name="phone-number">
            </label>
            <textarea name="comment">Оставьте свои пожелания</textarea>
            <br>
            <input class="btn" type="submit" name="submit" value="Отправить">
        </fieldset>
    </form>
</div>
{% endblock %}