{% extends 'main/layout.html' %}
{% load static %}
{% block content %}
<div class="title-course">КУРС ТРЕНЕРСКИЙ</div>
<div class="course-info">
    <div class='course-main'>
        <div class='spisok'>
            <div class='spisok-info'>
                <p> 1. Виды трюков на вейксерфе и подводящие упражнения к ним<br><br>
                    2. Базовый инструктаж, техника катания<br><br>
                    3. В чем разница для райдера от катера? От длины волны? От ширины волны?<br><br>
                    4. Разбор досок для вейксерфа<br>
            </div>
            <div class='inform'>
                <p>
                    Более 10 лет мы тренируем райдеров разного уровня. Тренерский курс поможет систематизировать знания о трюках., дополнить знания об оборудовании и катерах. Делаем упор на технику катания. Мы за системный подход, прежде чем учить какой-либо трюк разберём подводящие элементы и манёвры. Курс подойдет для начинающих тренеров, более опытные инструкторы также могут освежить знания и узнать новое
                </p>
            </div>
        </div>
        <div class="home-but">
            <button class="btn">
                <a class="button-home", href="{% url 'forma' %}">Записаться</a>
            </button>
        </div>
    </div>
</div>
<div class="sertificate-main">
    <div class="sertificate-info">
        <div class="title-sert">СЕРТИФИКАТ ПОСЛЕ ОБУЧЕНИЯ</div>
        <p>После успешного прохождения курса по запросу выдается сертификат, подтверждающий прохождение курса. Пример сертификата, который вы получите можно увидеть ниже</p>
    </div>
    <div class="sertificate-block">
        <img src="{% static 'img/sert-tren.png' %}">
    </div>
</div>

<div class='forma-sert'>
    <form>
        <fieldset class="info">
            <label>
                Название курса
                <select name="cources">
                    <option value="Вводный" >Вводный</option>
                    <option value="Тренерский" selected>>Тренерский</option>
                    <option value="Для пилота" >Для пилота</option>
                </select>
            </label>
            <label for="username">Имя пользователя</label>
                <input type="text" name="username" id="username" value= {{ user.username }}>
            <label>
                Дата первого занятия
                <input type="date" name="birthday">
            </label>
            <label>
                Время первого занятия
                <input type="time" name="game-time">
            </label>
            <label>
                Email
                <input type="email" name="email-address" placeholder="name@domain.com" value={{ user.email }}>
            </label>
            <label>
                Стоимость
                <input type="number" name="cost">
            </label>
            <label>
                Номер телефона
                <input type="tel" name="phone-number">
            </label>
            <textarea name="comment">Оставьте свои пожелания</textarea>
            <br>
            <input class="btn" type="submit" name="submit" value="Отправить">
        </fieldset>
    </form>
</div>
{% endblock %}