{% extends 'main/layout.html' %}
{% load static %}
{% block title %}Главная страница{% endblock %}

{% block content %}


    <body id="bg">
    <div class="features">
        <div class="main_text-h">
            Вейк-
        </div>
        <div class="main-text">
            Серфинг
        </div>
        <div class="submain-text">Серф-школа</div>
        <div class="home-but">
            <button class="btn">
                <a class="button-home", href="{% url 'forma' %}">Записаться</a>
            </button>
        </div>
    </div>
    <h2 class="about-title">
        НАУЧИСЬ УЧИТЬ ЛОВИТЬ ВОЛНУ
    </h2>
    <div class="about-vector">
        <img src="{% static 'img/Vector3.png' %}" alt="line">
    </div>
    <div class="wrapper-fist">
        <div class="fist-text">
            <div>
                <img src="{% static 'img/fist.png' %}" alt="fist">
            </div>
            <div class="about-text">
                <h3 class="about-text-header">
                    О нас:
                </h3>
                <p>
                    Ты не будешь в одиночестве с первой же минуты. Приветливые администраторы встретят тебя и помогут подобрать снаряжение – гидрокостюм, доску и жилет. После этого тебя передадут в руки нашей профессиональной команды. Вы вместе уходите на воду, и начинается самое интересное. В первую очередь – техника безопасности, без неё никак. Дальше инструктор расскажет, что именно тебе нужно будет делать, чтобы встать на доску. И всё, ты в воде и готовишься рассекать волны под чутким руководством профессионала. Работа над ошибками тоже будет проходить прямо в воде, чтобы еще лучше закрепить навыки.
                </p>
            </div>
        </div>
    </div>
    <div class="wrapper-page">
        <div class="about-second-page">
            <div class="about-item">
                <img src="{% static 'img/Rectangle286.png' %}">
                <p>
                    Мощные катера, <br> которые <br> обеспечивают <br> стабильную волну
                </p>
            </div>
            <div class="about-item">
                <img src="{% static 'img/Rectangle286.png' %}">
                <p>
                    Мощные катера, <br> которые <br> обеспечивают <br> стабильную волну
                </p>
            </div>
        </div>
    </div>
    <h2 class="cource-title">
        Авторский курс
    </h2>
    <div class="wrapper-second">
        <div class="second-text">
            <div class="about-text2">
                <p>
                    Нами были разработаны авторские курсы, основанные на опыте знаменитого райдера Артема Головина. В материалах курса отображены комментарии профессионала, его опыт, рекомендации и полезные лайфхаки.
                </p>
            </div>
            <div class="about-text">
                <h3 class="about-text-header">
                    Артем Головин
                </h3>
                <p>
                    Ты не будешь в одиночестве с первой же минуты. Приветливые администраторы встретят тебя и помогут подобрать снаряжение – гидрокостюм, доску и жилет.
                </p>
            </div>
        </div>
    </div>
    <div class="wrapper-page2">
        <div class="cources-second-page">
        </div>
    </div>
    <div class="cources-home">
        <div class="title">Наши курсы</div>
        <div class="qaz">
            <div class="uslugs">
                <div class="qwe">
                    <h2>Вводный<h2>
                    <p>Правила клуба, вводная <br>информация о нише <br>вейксерфа</p>
                    <button class="btn">
                        <a class="button-uslugs", href="{% url 'course1' %}">Узнать подробнее</a>
                    </button>
                </div>
            </div>
            <div class="uslugs">
                <div class="qwe">
                    <h2>Тренерский<h2>
                    <p>Повысить мастерство<br> обучения, ознакомиться<br> с правилами</p>
                    <button class="btn">
                        <a class="button-uslugs", href="{% url 'course2' %}">Узнать подробнее</a>
                    </button>
                </div>
            </div>
            <div class="uslugs">
                <div class="qwe">
                    <h2>Для пилота<h2>
                    <p>Вспомнить правила <br>акватории, <br>особенности катеров<br> клуба</p>
                    <button class="btn">
                        <a class="button-uslugs", href="{% url 'course3' %}">Узнать подробнее</a>
                    </button>
                </div>
            </div>
        </div>
        <div class="button1">
        <button class="btn">
            <a class="button-cource", href="{% url 'forma' %}">Записаться</a>
        </button>
        </div>
    </div>
    <div class="title-reiting">Отзывы</div>
    <div class="qae">
        <div class="uslugs">
            <div class="qwr">
                <div class="reiting-info">
                    <h3> Алексей П.</h3>
                    <img class="reiting-img" src="static/img/otziv1.png">
                    <p>05.06.2024</p>
                </div>
                <div class="reiting-tittle">
                    <p>Прекрасный клуб , отличный и <br>комфортабельный катер. И потрясающая<br> тренировка. Отдельное спасибо тренеру Саше<br> за то, как она мастерски и очень доходчиво<br> объяснила как без страха и сомнения встать<br> на доску даже таким новичкам , как я<br> Доверились ей с первых минут и не пожалели.<br> Очень многое получилось с первого раза.<br> Большое спасибо!!!🙏🏻</p>
                </div>
            </div>
        </div>
        <div class="uslugs">
            <div class="qwr">
                <div class="reiting-info">
                    <h3>ЯН Ц.</h3>
                    <img class="reiting-img" src="static/img/otziv2.png">
                    <p>29.06.2024<p/>
                </div>
                <div class="reiting-tittle">
                    <p>Благодарим за профессиональную <br>работу инструктора Романа, пилотов<br> Сергея и Алексея и всех сотрудников<br> клуба. Очень круто провели время<br> и получили массу эмоций! Надеемся,<br> что в этом сезоне ещё покатаем!</p>
                </div>
            </div>
        </div>
    </div>
    <div class='home-but-reit'>
        <button class="btn">
            <a class="button-reiting", href="{% url 'reiting' %}">ЧИТАТЬ БОЛЬШЕ</a>
        </button>
    </div>
    <div class="carta">
        <div className="mb-6">
            <iframe
              src="https://yandex.ru/map-widget/v1/?um=constructor%3Afaec5931b6f4c4b0f663e4c3621446e7b960f58b123e8b2b4f3b042e225a65d1&amp;source=constructor"
                width=100%
                height="400"
                frameBorder="5"
                title="Яндекс.Карта"
                className="rounded-lg shadow-lg"
            ></iframe>
        </div>
    </div>
    </body>
{% endblock %}