{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel=»stylesheet» href=»style.css»>
    <link rel="shortcut icon" href="{% static 'img/logo.jpg' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/DataTables/datatables.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/select2/dist/css/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js" integrity="sha512-6PM0qYu5KExuNcKt5bURAoT6KCThUmHRewN3zUFNaoI6Di7XJPTMoT6K0nsagZKk2OB4L7E3q1uQKHNHd4stIQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{% static 'assets/default/js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'assets/bootstrap/js/popper.min.js' %}"></script>
    <script src="{% static 'assets/DataTables/datatables.min.js' %}"></script>
    <script src="{% static 'assets/select2/dist/js/select2.min.js' %}"></script>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/default/js/script.js' %}"></script>
</head>
<body>
    <header class="header">
        <div class="header-line">
            <div class="logo-img">
                <a href="/"><img src="static/img/logo.png" alt="Лого"/></a>
            </div>
            <div class="phone">
                <div class="phone-holder">
                    <div class="phone-img">
                        <img src="static/img/phone.png" alt="">
                    </div>
                    <div class="number"><a class="num" href="#">+7-900-700-90-70</a> </div>
                </div>
            </div>
            <nav class="nav"></nav>
                <a class="nav-item" href="{% url 'cources' %}">Курсы</a></li>
                <a class="nav-item" href="{% url 'reiting' %}">Отзывы</a></li>
                <a class="nav-item" href="{% url 'contacts' %}">Контакты</a></li>
            </nav>
            {% if user.is_authenticated %}
                <div class="dropdown">
                    <button class="btn btn-primary my-btn dropdown-toggle me-3" type="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                        {{ request.user }}
                    </button>
                    <ul class="dropdown-menu dd-color">
                        <li>  
                            <a class="dropdown-item dd-item-color" href="{% url 'users:profile-detail' username=user.username %}">Профиль</a>  
                        </li>
                        <li>
                            <form method='post', action='{% url 'users:logout' %}'>
                                {% csrf_token %}
                                <button type='submit' class="dropdown-item dd-item-color">Выйти</button>
                            </form>
                        </li>
                    </ul>
                </div>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link btn btn-primary my-btn me-3"
                    href="{% url 'users:login' %}">Войти</a>
                </li>
                <li class="nav-item">  
                    <a class="nav-link btn btn-primary my-btn me-3"  
                       href="{% url 'users:register' %}">Регистрация</a>  
                </li>
            {% endif %}
        </div>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer class="footer">
        <div class="footer-element">

            <div class="contacts">
                <p>Москва, Яхт-клуб “River Club”</p>
                <p>Ул. Авиационная 79к1 стр2</p>
                <p>Режим работы: ПН-ВС 6:00-22:00</p>
                <p>info_WA@mail.ru</p>
                <p>+7 (900) 700-90-70</p>
            </div>    
            <div class="social">
                <div class="social-all">
                <img src="static/img/13.png" alt="телеграмм"/>
                <img src="static/img/12.png" alt="Инстаграмм"/>
                <img src="static/img/11.png" alt="Вацап"/>
                </div>
                <div class="policy">
                    <p>Политика в отношении обработки персональных данных</p>
                    <p>Пользовательское соглашение</p>
                    <p>Публичная оферта</p>
                    <p>Реквизиты</p>
                </div>
            </div>

        </div>
    </footer>
</body>
</html>