{% extends 'main/profile.html' %}

{% block profile-content %}
<div class="courses">
    
    <h1>Тренерский курс</h1>
    <div class='modules1'>
        <div class='card-module'>
            <p>Модуль 1</p>
            <p>Виды рюков и подводящие управднения к ним</p>
            <a class="button-lk", href='{#}'> Перейти </a>
        </div>
        <div class='card-module'>
            <p>Модуль 2</p>
            <p>Базовый инструктаж, техника катания</p>
            <a class="button-lk", href='{#}'> Перейти </a>
        </div>
        <div class='card-module'>
            <p>Модуль 3</p>
            <p>Особенности разных волн для райдера</p>
            <a class="button-lk", href='{#}'> Перейти </a>
        </div>
        <div class='card-module'>
            <p>Модуль 4</p>
            <p>Разбор досок для вейксерфа</p>
            <a class="button-lk", href='{#}'> Перейти </a>
        </div>
    </div>
</div>
{% endblock %}