{% extends 'main/profile.html' %}

{% block profile-content %}
<div class="courses-module">
    
    <h1>Вводный курс</h1>
    <div class='modules1'>
        <div class='card-module'>
            <p>Модуль 1</p>
            <p>Термины в вейксерфе</p>
            <a class="button-lk", href="{% url 'module11' %}"> Перейти </a>
        </div>
        <div class='card-module'>
            <p>Модуль 2</p>
            <p>Общие положения</p>
            <a class="button-lk", href="{% url 'module12' %}"> Перейти </a>
        </div>
        <div class='card-module'>
            <p>Модуль 3</p>
            <p>Запрещающие правила</p>
            <a class="button-lk", href="{% url 'module13' %}"> Перейти </a>
        </div>
        <div class='card-module'>
            <p>Модуль 4</p>
            <p>Правила поведения на катере</p>
            <a class="button-lk", href="{% url 'module14' %}"> Перейти </a>
        </div>
    </div>
</div>
{% endblock %}