{% extends 'main/layout.html' %}


{% block content %}
<div>
    <div class="school">
        <h1 class="text-about1">WAKEADDICTION</h1>
        <h2 class="text-about2">СЕРФ ШКОЛА</h2>
    </div>
    <div class="qaz">
        <div class="uslugs">
            <div class="qwe">
                <div class="uslug-image">
                    <img class="uslug-img" src="static/img/kater.png"
                </div>
                <div class="uslug-tittle">
                    Прогулки на катере
                </div>
                <div class="uslug-tittle">
                    <button class="btn">
                        <a class="button-uslugs", href="#">Подробнее</a>
                    </button>
                </div>
            </div>
        </div>
        <div class="uslugs">
            <div class="qwe">
                <div class="uslug-image">
                    <img class="uslug-img" src="static/img/serf.png"
                </div>
                <div class="uslug-tittle">
                    Вейксерф
                </div>
                <div class="uslug-tittle">
                    <button class="btn">
                        <a class="button-uslugs", href="#">Подробнее</a>
                    </button>
                </div>
            </div>
        </div>
        <div class="uslugs">
            <div class="qwe">
                <div class="uslug-image">
                    <img class="uslug-img" src="static/img/educate.png"
                </div>
                <div class="uslug-tittle">
                    Обучение сотрудников
                </div>
                <div class="uslug-tittle">
                    <button class="btn">
                        <a class="button-uslugs", href="#">Подробнее</a>
                    </button>
                </div>
            </div>
        </div>
        <div class="uslugs">
            <div class="qwe">
                <div class="uslug-image">
                    <img class="uslug-img" src="static/img/wake.png"
                </div>
                <div class="uslug-tittle">
                    Вейкборд
                </div>
                <div class="uslug-tittle">
                    <button class="btn">
                        <a class="button-uslugs", href="#">Подробнее</a>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}