{% extends 'main/layout.html' %}

{% block content %}
<div class="title">Отзывы</div>
<div class="qaz">
    <div class="uslugs">
        <div class="qwr">
            <h3>JOIN DOE<h3>
            <img class="reiting-img" src="static/img/otziv1.png">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
            sed do eiusmod tempor incididunt ut labore et dolore.</p>
        </div>
    </div>
    <div class="uslugs">
        <div class="qwr">
            <h3>JOIN DOE<h3>
            <img class="reiting-img" src="static/img/otziv2.png">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
            sed do eiusmod tempor incididunt ut labore et dolore.</p>
        </div>
    </div>
    <div class="uslugs">
        <div class="qwr">
            <h3>JOIN DOE<h3>
            <img class="reiting-img" src="static/img/otziv2.png">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
            sed do eiusmod tempor incididunt ut labore et dolore.</p>
        </div>
    </div>
</div>
{% endblock %}