{% extends 'main/layout.html' %}

{% block content %}
<div class="title-reiting">Отзывы наших клиентов</div>
<div class="container">
    <div id="one">
        <div class="opis">
            <div>
                <h3> ПОЛИНА П.</h3>
                <img class="opis-img" src="static/img/otziv2.png">
                <p>05.06.2024</p>
            </div>
            <div>
                <p>Прекрасный клуб , отличный и комфортабельный катер. И потрясающая тренировка. Отдельное спасибо тренеру Саше за то, как она мастерски и очень доходчиво объяснила как без страха и сомнения встать на доску даже таким новичкам , как я. Доверились ей с первых минут и не пожалели. Очень многое получилось с первого раза. Большое спасибо!!!🙏🏻</p>
            </div>
        </div>
    </div>
    <div id="two">
        <div class="opis">
            <div>
                <h3>ЯН Ц.</h3>
                <img class="opis-img" src="static/img/otziv1.png">
                <p>29.06.2024<p/>
            </div>
            <div>
                <p>Благодарим за профессиональную работу инструктора Романа, пилотов Сергея и Алексея и всех сотрудников клуба. Очень круто провели время и получили массу эмоций! Надеемся, что в этом сезоне ещё покатаем!</p>
            </div>
        </div>
    </div>
    <div id="three">
        <div class="opis">
            <div>
                <h3> ЕВГЕНИЙ Н.</h3>
                <img class="opis-img" src="static/img/otziv3.png">
                <p>01.06.2024</p>
            </div>
            <div>
                <p>С удовольствием прокатились на серфборде, отличные катера, есть раздевалки, небольшое кафе с перекусами. Опытные тренера.</p>
            </div>
        </div>
    </div>
    <div id="four">
        <div class="opis">
            <div>
                <h3>АЛЕНА А.</h3>
                <img class="opis-img" src="static/img/otziv4.png">
                <p>29.05.2024<p/>
            </div>
            <div>
                <p>Спасибо ребятам за их отношение к работе и клиентам, внимательность, старании научить кататься на доске, комфортном управлении катером! Все понравилось! Приедем еще)</p>
            </div>
        </div>
    </div>
</div>

<div class="forma-reiting">
    <form class='forma-reit' type="POST" > <!-- action="/add_reviews" -->
        <fieldset class="info">
            <label for="username">Имя пользователя</label>
                <input type="text" name="username" id="username" value= {{ user.username }}>
            </label>
            <label>
                Номер телефона
                <input type="tel" name="phone-number">
            </label>
        </fieldset>
        <fieldset>
            <legend>Ваш отзыв будет отображаться на сайте?</legend>
          
            <input type="checkbox" name="checkbox" value="yes" id="foo_bar">
            <label for="foo_bar">Да</label>
          
            <input type="checkbox" name="checkbox" value="no" id="foo_baz">
            <label for="foo_baz">Нет</label>
        </fieldset>
            <textarea name="forma-comment", style="width:100%; height:15%">Текст отзыва</textarea>
            <br>
            <input class="btn-reiting" type="submit" name="submit" value="Отправить">
    </form>
</div>
{% endblock %}